.DS_Store
docset-installed.txt
readme.html

build/*

NextiveJson.xcodeproj/ma.perspectivev3

NextiveJson.xcodeproj/ma.perspectivev3

NextiveJson.xcodeproj/ma.pbxuser

NextiveJson.xcodeproj/ma.pbxuser

NextiveJson.xcodeproj/ma.pbxuser

.DS_Store


NextiveJson.xcodeproj/ma.pbxuser
